<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pbxAccount">
            <h2><span jhiTranslate="voipAdminApp.pbxAccount.detail.title">Pbx Account</span> {{pbxAccount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="voipAdminApp.pbxAccount.username">Username</span></dt>
                <dd>
                    <span>{{pbxAccount.username}}</span>
                </dd>
                <dt><span jhiTranslate="voipAdminApp.pbxAccount.pbxId">Pbx Id</span></dt>
                <dd>
                    <span>{{pbxAccount.pbxId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pbx-account', pbxAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
