<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-device-setting-heading" jhiTranslate="voipAdminApp.deviceSetting.home.createOrEditLabel">Create or edit a Device Setting</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="voipAdminApp.deviceSetting.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                           formControlName="value"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="voipAdminApp.deviceSetting.device" for="field_device">Device</label>
                    <select class="form-control" id="field_device" name="device" formControlName="deviceId">
                        <option *ngIf="!editForm.get('deviceId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="deviceOption.id" *ngFor="let deviceOption of devices; trackBy: trackDeviceById">{{deviceOption.mac}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('deviceId').invalid && (editForm.get('deviceId').dirty || editForm.get('deviceId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('deviceId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="voipAdminApp.deviceSetting.additionalOption" for="field_additionalOption">Additional Option</label>
                    <select class="form-control" id="field_additionalOption" name="additionalOption" formControlName="additionalOptionId">
                        <option *ngIf="!editForm.get('additionalOptionId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="additionalOptionOption.id" *ngFor="let additionalOptionOption of additionaloptions; trackBy: trackAdditionalOptionById">{{additionalOptionOption.code}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('additionalOptionId').invalid && (editForm.get('additionalOptionId').dirty || editForm.get('additionalOptionId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('additionalOptionId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
